-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: biocode
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alembic_version`
--

DROP TABLE IF EXISTS `alembic_version`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alembic_version` (
  `version_num` varchar(32) NOT NULL,
  PRIMARY KEY (`version_num`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alembic_version`
--

LOCK TABLES `alembic_version` WRITE;
/*!40000 ALTER TABLE `alembic_version` DISABLE KEYS */;
INSERT INTO `alembic_version` VALUES ('fff43b0477b8');
/*!40000 ALTER TABLE `alembic_version` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `departments` (
  `id` varchar(36) NOT NULL,
  `name` varchar(255) NOT NULL,
  `code` varchar(64) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
INSERT INTO `departments` VALUES ('23b546cb-63c1-4d63-91fd-dabb4a05f536','3rd floor - wing A','3A',NULL,'2026-03-03 04:45:03','2026-03-03 04:45:03');
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipment`
--

DROP TABLE IF EXISTS `equipment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipment` (
  `id` varchar(36) NOT NULL,
  `asset_tag` varchar(64) NOT NULL,
  `serial_number` varchar(128) DEFAULT NULL,
  `equipment_name` varchar(255) NOT NULL,
  `manufacturer` varchar(255) DEFAULT NULL,
  `model` varchar(255) DEFAULT NULL,
  `acquisition_date` datetime DEFAULT NULL,
  `acquired_value` varchar(50) DEFAULT NULL,
  `status` enum('active','out_of_service','retired') NOT NULL,
  `location_id` varchar(36) DEFAULT NULL,
  `department_id` varchar(36) DEFAULT NULL,
  `in_service_date` datetime DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `repair_count` int(11) NOT NULL,
  `total_downtime_minutes` int(11) NOT NULL,
  `last_downtime_start` datetime DEFAULT NULL,
  `is_currently_down` tinyint(1) NOT NULL,
  `criticality` varchar(20) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `max_operating_hours` int(11) DEFAULT NULL,
  `supplier_name` varchar(150) DEFAULT NULL,
  `lifecycle_type` enum('hours','years') NOT NULL,
  `lifecycle_years` int(11) DEFAULT NULL,
  `repair_alert_override` varchar(20) DEFAULT NULL,
  `last_pm_date` datetime DEFAULT NULL,
  `current_operating_hours` int(11) DEFAULT NULL,
  `remaining_operating_months` int(11) DEFAULT NULL,
  `health_score` int(11) DEFAULT NULL,
  `alert_level` varchar(20) DEFAULT NULL,
  `risk_level` varchar(20) DEFAULT NULL,
  `risk_priority` int(11) DEFAULT NULL,
  `health_status` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_equipment_asset_tag` (`asset_tag`),
  KEY `department_id` (`department_id`),
  KEY `location_id` (`location_id`),
  KEY `ix_equipment_criticality` (`criticality`),
  KEY `ix_equipment_is_currently_down` (`is_currently_down`),
  KEY `ix_equipment_manufacturer_model` (`manufacturer`,`model`),
  KEY `ix_equipment_equipment_name` (`equipment_name`),
  CONSTRAINT `equipment_ibfk_1` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL,
  CONSTRAINT `equipment_ibfk_2` FOREIGN KEY (`location_id`) REFERENCES `locations` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipment`
--

LOCK TABLES `equipment` WRITE;
/*!40000 ALTER TABLE `equipment` DISABLE KEYS */;
INSERT INTO `equipment` VALUES ('db150266-8c38-4c7f-bfa6-8e3524a1de0c','BIO-001','123456','Suction machine','Berovan','Blue Cross',NULL,NULL,'active',NULL,'23b546cb-63c1-4d63-91fd-dabb4a05f536',NULL,NULL,0,0,NULL,0,'medium','2026-03-03 04:45:28','2026-03-03 04:45:28',20000,NULL,'hours',NULL,NULL,NULL,5000,NULL,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `equipment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipment_history`
--

DROP TABLE IF EXISTS `equipment_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipment_history` (
  `id` varchar(36) NOT NULL,
  `department` varchar(255) NOT NULL,
  `equipment` varchar(255) NOT NULL,
  `serial` varchar(128) DEFAULT NULL,
  `ticket_code` varchar(32) DEFAULT NULL,
  `ticket_id` varchar(36) DEFAULT NULL,
  `concern` text NOT NULL,
  `diagnosis` text DEFAULT NULL,
  `action_taken` text DEFAULT NULL,
  `parts_used` text DEFAULT NULL,
  `engineer` varchar(255) DEFAULT NULL,
  `date_completed` datetime NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ticket_id` (`ticket_id`),
  KEY `ix_equipment_history_ticket_code` (`ticket_code`),
  CONSTRAINT `equipment_history_ibfk_1` FOREIGN KEY (`ticket_id`) REFERENCES `tickets` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipment_history`
--

LOCK TABLES `equipment_history` WRITE;
/*!40000 ALTER TABLE `equipment_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipment_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipment_logs`
--

DROP TABLE IF EXISTS `equipment_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipment_logs` (
  `id` varchar(36) NOT NULL,
  `equipment_id` varchar(36) NOT NULL,
  `created_by_user_id` varchar(36) DEFAULT NULL,
  `log_type` enum('service','preventive_maintenance','incident','calibration','inspection','note') NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `notes` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_equipment_logs_created_by_user_id` (`created_by_user_id`),
  KEY `ix_equipment_logs_equipment_id` (`equipment_id`),
  KEY `ix_equipment_logs_equipment_type` (`equipment_id`,`log_type`),
  KEY `ix_equipment_logs_log_type` (`log_type`),
  CONSTRAINT `equipment_logs_ibfk_1` FOREIGN KEY (`created_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `equipment_logs_ibfk_2` FOREIGN KEY (`equipment_id`) REFERENCES `equipment` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipment_logs`
--

LOCK TABLES `equipment_logs` WRITE;
/*!40000 ALTER TABLE `equipment_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipment_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `locations`
--

DROP TABLE IF EXISTS `locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `locations` (
  `id` varchar(36) NOT NULL,
  `name` varchar(255) NOT NULL,
  `code` varchar(64) DEFAULT NULL,
  `building` varchar(255) DEFAULT NULL,
  `floor` varchar(64) DEFAULT NULL,
  `room` varchar(64) DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  UNIQUE KEY `uq_locations_identity` (`name`,`building`,`floor`,`room`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `locations`
--

LOCK TABLES `locations` WRITE;
/*!40000 ALTER TABLE `locations` DISABLE KEYS */;
/*!40000 ALTER TABLE `locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `machine_hour_readings`
--

DROP TABLE IF EXISTS `machine_hour_readings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `machine_hour_readings` (
  `id` varchar(36) NOT NULL,
  `equipment_id` varchar(36) NOT NULL,
  `reading_hours` int(11) NOT NULL,
  `reading_date` datetime NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `equipment_id` (`equipment_id`),
  CONSTRAINT `machine_hour_readings_ibfk_1` FOREIGN KEY (`equipment_id`) REFERENCES `equipment` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `machine_hour_readings`
--

LOCK TABLES `machine_hour_readings` WRITE;
/*!40000 ALTER TABLE `machine_hour_readings` DISABLE KEYS */;
/*!40000 ALTER TABLE `machine_hour_readings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maintenance_schedules`
--

DROP TABLE IF EXISTS `maintenance_schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `maintenance_schedules` (
  `id` varchar(36) NOT NULL,
  `equipment_id` varchar(36) NOT NULL,
  `maintenance_type` varchar(50) NOT NULL,
  `frequency_days` int(11) NOT NULL,
  `last_maintenance_date` datetime DEFAULT NULL,
  `next_maintenance_date` datetime NOT NULL,
  `assigned_to_user_id` varchar(36) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `assigned_to_user_id` (`assigned_to_user_id`),
  KEY `ix_maintenance_schedules_equipment_id` (`equipment_id`),
  KEY `ix_maintenance_schedules_next_maintenance_date` (`next_maintenance_date`),
  CONSTRAINT `maintenance_schedules_ibfk_1` FOREIGN KEY (`assigned_to_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `maintenance_schedules_ibfk_2` FOREIGN KEY (`equipment_id`) REFERENCES `equipment` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maintenance_schedules`
--

LOCK TABLES `maintenance_schedules` WRITE;
/*!40000 ALTER TABLE `maintenance_schedules` DISABLE KEYS */;
/*!40000 ALTER TABLE `maintenance_schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` varchar(36) NOT NULL,
  `user_id` varchar(36) NOT NULL,
  `title` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `notification_type` varchar(50) NOT NULL,
  `related_entity_type` varchar(50) DEFAULT NULL,
  `related_entity_id` varchar(36) DEFAULT NULL,
  `is_read` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `read_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_notifications_created_at` (`created_at`),
  KEY `ix_notifications_is_read` (`is_read`),
  KEY `ix_notifications_notification_type` (`notification_type`),
  KEY `ix_notifications_user_id` (`user_id`),
  KEY `ix_notifications_user_read` (`user_id`,`is_read`),
  CONSTRAINT `notifications_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
INSERT INTO `notifications` VALUES ('061d09a3-52ab-4ec6-8068-145209542023','c3a8af6b-b1ae-4f8c-b115-b25515480a83','New Ticket Created','New ticket #M77L8LYS: defective','ticket_created','ticket','d326e28b-7b25-40f4-9ec1-9e4c34dd6e39',0,'2026-03-09 06:11:08',NULL);
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ticket_responses`
--

DROP TABLE IF EXISTS `ticket_responses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ticket_responses` (
  `id` varchar(36) NOT NULL,
  `ticket_id` varchar(36) NOT NULL,
  `diagnosis` text DEFAULT NULL,
  `action_taken` text DEFAULT NULL,
  `parts_used` text DEFAULT NULL,
  `engineer_user_id` varchar(36) DEFAULT NULL,
  `engineer_name` varchar(255) DEFAULT NULL,
  `completed_on` datetime NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_ticket_responses_ticket_id` (`ticket_id`),
  KEY `ix_ticket_responses_engineer_user_id` (`engineer_user_id`),
  CONSTRAINT `ticket_responses_ibfk_1` FOREIGN KEY (`engineer_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `ticket_responses_ibfk_2` FOREIGN KEY (`ticket_id`) REFERENCES `tickets` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ticket_responses`
--

LOCK TABLES `ticket_responses` WRITE;
/*!40000 ALTER TABLE `ticket_responses` DISABLE KEYS */;
/*!40000 ALTER TABLE `ticket_responses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tickets`
--

DROP TABLE IF EXISTS `tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tickets` (
  `id` varchar(36) NOT NULL,
  `ticket_code` varchar(32) NOT NULL,
  `from_department` varchar(255) NOT NULL,
  `department_id` varchar(36) DEFAULT NULL,
  `equipment_service` varchar(255) NOT NULL,
  `serial_number` varchar(128) DEFAULT NULL,
  `concern` text NOT NULL,
  `reported_by` varchar(255) DEFAULT NULL,
  `status` enum('open','in_progress','resolved','closed') NOT NULL,
  `completed_on` datetime DEFAULT NULL,
  `equipment_id` varchar(36) DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `priority` varchar(20) DEFAULT NULL,
  `reported_by_user_id` varchar(36) DEFAULT NULL,
  `assigned_to_user_id` varchar(36) DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_tickets_ticket_code` (`ticket_code`),
  KEY `assigned_to_user_id` (`assigned_to_user_id`),
  KEY `department_id` (`department_id`),
  KEY `equipment_id` (`equipment_id`),
  KEY `reported_by_user_id` (`reported_by_user_id`),
  CONSTRAINT `tickets_ibfk_1` FOREIGN KEY (`assigned_to_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `tickets_ibfk_2` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL,
  CONSTRAINT `tickets_ibfk_3` FOREIGN KEY (`equipment_id`) REFERENCES `equipment` (`id`) ON DELETE SET NULL,
  CONSTRAINT `tickets_ibfk_4` FOREIGN KEY (`reported_by_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tickets`
--

LOCK TABLES `tickets` WRITE;
/*!40000 ALTER TABLE `tickets` DISABLE KEYS */;
/*!40000 ALTER TABLE `tickets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` varchar(36) NOT NULL,
  `email` varchar(255) NOT NULL,
  `full_name` varchar(255) NOT NULL,
  `role` enum('super_admin','manager','department_head','support','department_incharge') NOT NULL,
  `support_type` varchar(50) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `department_id` varchar(36) DEFAULT NULL,
  `preferences` text DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ix_users_email` (`email`),
  KEY `ix_users_department_id` (`department_id`),
  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES ('c3a8af6b-b1ae-4f8c-b115-b25515480a83','support@example.com','Biomed Support','support',NULL,1,'$argon2id$v=19$m=65536,t=3,p=4$aS0l5JwzRiil1DqntNbaOw$XRc4lk/wTUG/UnIsl/OV5a8Vzl7lE3zOe/NDdpNtA4g',NULL,NULL,'2026-03-03 04:55:05','2026-03-03 04:55:05'),('d09b2458-f4d8-487b-b61c-3aa370f10356','biocodeadmin@example.com','Biomed Creator','super_admin',NULL,1,'$argon2id$v=19$m=65536,t=3,p=4$ujeGsJYSwpjz/j/nvHdOiQ$8O+W9vG/xjQcKuyGB07bcsDicX5wejBQE9N0LBnlZH0',NULL,NULL,'2026-03-03 04:41:51','2026-03-03 04:41:51');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-13 11:48:50
