# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node
node_modules/
dist/
dist-ssr/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment variables
.env

# Editor / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# allow SQL backups
!*.sql